<mat-card>
    <mat-card-header>
        Wahlmöglichkeiten
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let choice of choices">
            <mat-card class="choice-card">
                <mat-card-header>
                    {{choice.description}}
                </mat-card-header>
                <mat-card-content class="choice-card__content">
                    <img src="{{choice.picture}}" alt="">
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
