<mat-card>
    <mat-card-header>
        Wahlmöglichkeiten
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let choice of choices">
            <div class="choice-card">
               <div class="choice-card__image">
                   <img src="{{choice.picture}}" alt="">
               </div>
              <div class="choice-card__description">
                  {{choice.description}}
              </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
