<mat-card>
    <form class="form" [formGroup]="choicesForm">
        <mat-form-field class="form__field">
            <mat-label>Beschreibung</mat-label>
            <input matInput type="text" formControlName="description" placeholder="Beschreibung" required>
        </mat-form-field>
    </form>
    <button mat-flat-button color="accent" (click)="submitForm()" [disabled]="!choicesForm.valid">erstellen</button>
</mat-card>
<mat-card>
<pre>
    {{this.choicesForm.value |  json}}
</pre>
</mat-card>
