<div class="card-wrapper">
    <mat-card class="card-wrapper__card">
        <mat-card-header>Wahlrunde erstellen</mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="electionForm">
                <mat-form-field class="form__field">
                    <mat-label>Titel</mat-label>
                    <input matInput type="text" formControlName="title" placeholder="Titel" required>
                </mat-form-field>

                <mat-form-field class="form__field">
                    <mat-label>status</mat-label>
                    <mat-select formControlName="running" required>
                        <mat-option *ngFor="let state of status" value="{{state.value}}">{{state.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form__field">
                    <mat-label>Maximale Anzahl</mat-label>
                    <input matInput type="number" formControlName="max_choices_per_person"
                           placeholder="max_choices_per_person" required>
                </mat-form-field>
            </form>
            <button *ngIf="isFormEnable" mat-flat-button color="accent" [disabled]="!electionForm.valid"
                    (click)="submitForm()">erstellen
            </button>
        </mat-card-content>
    </mat-card>
    <app-list-choices class="card-wrapper__card" [choices]="createdChoices" [electionRound]="electionForm.value"></app-list-choices>
    <app-create-choices
            class="card-wrapper__card"
            [electionRound]="electionForm.value"
            (emitCreatedChoice)="updateCreatedChoices($event)">
    </app-create-choices>
</div>

