<div class="wrapper">
    <mat-card>
        <mat-card-header>Wahlrunde erstellen</mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="electionForm">
                <mat-form-field class="form__field">
                    <mat-label>Titel</mat-label>
                    <input matInput type="text" formControlName="title" placeholder="Titel" required>
                </mat-form-field>

                <mat-form-field class="form__field">
                    <mat-label>status</mat-label>
                    <mat-select formControlName="running" required>
                        <mat-option *ngFor="let state of status" value="{{state.value}}">{{state.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form__field">
                    <mat-label>Maximale Anzahl</mat-label>
                    <input matInput type="number" formControlName="max_choices" placeholder="max_choices" required>
                </mat-form-field>

                <button class="form__button" mat-flat-button color="accent" (click)="submitForm()">erstellen</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>

