/* You can add global styles to this file, and also import other style files */
/* Body, HTML 'n stuff */
@import 'app/core/theme/consultIN.scss';
html, body, main {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: large;
	font-family: 'Open Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	background: gray;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

html, body { height: 100%; }
body { margin: 0;}
