#personlist {
	width: 80%;
	display: table-row;
}

.person {
	margin: 4px 0;
	padding: 4px;
	display: flex;
	justify-content: space-between;
}

.present {
	background-color: #c7d314;
}
.person-table {
	min-width: 500px;
}
