<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page Title</title>
<script>
window.addEventListener('DOMContentLoaded', () => {
    console.log('DOM fully loaded and parsed');

    const form = document.getElementById('votesform');
    form.addEventListener("submit", (evt)=>{
        evt.preventDefault();
        updateVotes();
      });
});

function updateVotes() {
    console.log('update')
    var xhttp = new XMLHttpRequest();
    const data = {
        description: document.getElementById('description').value,
        picture: document.getElementById('picture'),
        electionId: document.getElementById('electionId').value,
    }
    xhttp.onload = function() {
      const json = JSON.parse(this.responseText)
      !json.message
        ? document.getElementById("result").innerHTML = `ID: ${json.id}, Votes: ${json.votes}`
        : document.getElementById("result").innerHTML=json.message;
      
    };
    xhttp.open("POST", `http://localhost:5000/api/choice/`, true);
    xhttp.setRequestHeader("Content-type", "application/json")
    xhttp.send(JSON.stringify(data));
  }
</script>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<div>
    <h3>Post to updateVotes</h3>
    <form id='votesform'>
        <label>
            Description: 
            <input id=description type="text">
        </label>
        <label>
            Election ID: 
            <input id=electionId type="number">
        </label>
        <button type="submit"></button>
    </form>
    <label>Votes: <span id='result'></span></label>
</div>

</body>
</html> 