<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page Title</title>
<script>
window.addEventListener('DOMContentLoaded', () => {
    console.log('DOM fully loaded and parsed');

    const form = document.getElementById('votesform');
    form.addEventListener("submit", (evt)=>{
        evt.preventDefault();
        updateVotes();
      });
});

function updateVotes() {
	const formData = new FormData();
    const xhttp = new XMLHttpRequest();
    xhttp.open("POST", `http://localhost:5000/api/choice/`, true);
    
    const file = document.getElementById("choiceImage").files[0];
    const data = {
        description: document.getElementById('description').value,
        electionId: document.getElementById('electionId').value,
    }

    formData.append("json", data);
	if (file) formData.append("image", file);

    xhttp.onload = function() {
      const json = JSON.parse(this.responseText)
      !json.message
        ? document.getElementById("result").innerHTML = `ID: ${json.id}, Votes: ${json.votes}`
        : document.getElementById("result").innerHTML=json.message;
      
    };
    for (var [key, value] of formData.entries()) { 
        console.log(key, value);
    }
    // xhttp.setRequestHeader("Content-type", "multipart/form-data")
    xhttp.send(formData);
  }
</script>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<div>
    <h3>Post to updateVotes</h3>
    <form id='votesform' method="POST" enctype="multipart/form-data" action="/">
        <label>
            Description: 
            <input id=description type="text">
        </label>
        <label>
            Election ID: 
            <input id=electionId type="number">
        </label>
        <label>
            Image: 
            <input id=choiceImage type="file">
        </label>
        <button type="submit"></button>
    </form>
    <label>Votes: <span id='result'></span></label>
</div>

</body>
</html> 